<head>
    {%- if jekyll.environment == 'production' and site.google_analytics -%}
    {%- include google-analytics.html -%}
    {%- endif -%}

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <link rel="me" href="https://octodon.social/@FrasSmith" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="blog, {{ site.author }}, {{ site.title }}, jekyll">
    <meta name="author" content="{{ site.author }}">
    {% if page.url == "/404.html" %}
        <meta http-equiv="refresh" content="5; url=/">
    {% endif %}
    {% if page.snippet %}
        {% assign desc = page.snippet %}
    {% else %}
        {% assign desc = site.subtitle %}
    {% endif %}
    {% if page.title %}
        {% assign title = page.title %}
    {% else %}
        {% assign title = site.title %}
    {% endif %}

    <meta name="description" content="{{ desc }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Cinzel:wght@500&family=Special+Elite&display=swap" rel="stylesheet">
<!--    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300&display=swap" rel="stylesheet"> -->
<!--    <link href="https://fonts.googleapis.com/css?family=Alegreya&display=swap" rel="stylesheet"> -->
<!--    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans&display=swap" rel="stylesheet"> -->
<!--    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC&display=swap" rel="stylesheet"> -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
    <link rel="stylesheet" href="{{ "/assets/style.css" | relative_url }}">
    <link rel="icon" type="image/ico" href="{{site.url}}{{ site.baseurl }}/{{site.favicon_location}}">
    <link rel="shortcut-icon" type="image/ico" href="{{site.url}}{{ site.baseurl }}/{{site.favicon_location}}">

    <!-- For Facebook -->
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:image" content="{{site.url}}{{ site.baseurl }}/{{site.favicon_location}}" />
    <meta property="og:description" content="{{ desc }}" />

    <!-- For Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{ title }}" />
    <meta name="twitter:description" content="{{ desc }}" />
    <meta name="twitter:image" content="{{site.url}}{{ site.baseurl }}/{{site.favicon_location}}" />
    {% seo %}

</head>
